
.drawing-board {
  display: grid;
  grid-template-columns: repeat(35, 1fr); /* 35 columns of equal width */
  grid-template-rows: repeat(35, 1fr);   /* 35 rows of equal height */
  width: 100%; /* Example width of the entire grid container */
  height: 100%; /* Example height of the entire grid container */

  row-gap: 0px;    /* Gap between rows */
  column-gap: 0px; /* Gap between columns */
}

.zoom-container {
  display: flex;
  overflow: auto; /* Enable scrolling if content overflows */

  max-width: 100vw; /* Begrenze die Breite auf die Bildschirmbreite */
  max-height: 100vh; /* Begrenze die Höhe auf die Bildschirmhöhe */
  width: 100%; /* Full width of the parent */
  white-space: nowrap; /* Prevent row wrapping */
  box-sizing: border-box;
  margin: 0px;
  align-items: center;
}

.row {
  display: flex; /* Align pixels horizontally */
  flex-wrap: nowrap; /* Prevent rows from wrapping */
  box-sizing: border-box;
}


.pixelcontainer {
  position: relative;
  width: 20px;
  height: 20px;
  
  box-sizing: border-box;
  flex-shrink: 0; /* Prevents shrinking when screen size is small */
}

.bgcell {
  position: absolute;
  width: 100%;
  height: 100%;
  
  box-sizing: border-box;
  border: 1px solid #ccc;
  background-color: white;
  z-index: 0;
}

.fgcell {
  position: absolute;
  width: 100%;
  height: 100%;
  
  box-sizing: border-box;
  border: 1px solid #ccc;
  background-color: rgba(255, 255, 255, 0.8); /* Use rgba for opacity */
  z-index: 1;
 }


.fgcell.active {
  border: 1px solid #ffb41e;
}

.transparent {
  background-color: transparent;
}

.active {
  background-color: var(--active-color, black); /* Replace with your color */
}
.color_picker {
  width: 20px;
  height: 20px;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: rgb(201, 51, 51);
  color: green;
}
