.addTask {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -10px;
    right: -10px;
    border:1px solid;
    width: 2em;
    height: 2em;
    border-radius:50%; /* round border*/
    font-size: 24px;
    cursor: pointer;
  }
  .addTask span {
    font-size: 2em; /* Symbolgröße */
    display: inline-block; /* Wichtig für transform */
    transform: scaleX(1.5); /* Horizontal strecken um 50% */
  }