.add-task-form {
  display: flex;
  flex-direction: column;
  gap: 1em; /* Adds spacing between form sections */
}

/* Title and Description Container */
.add-task-form label {
  display: flex;
  flex-direction: column; /* Stack fields vertically */
  gap: 0em; /* Optional: spacing between Title and Description */
}
/* Item-Container  wenn kompletter bereich eingenommen werden soll*/
.add_item {
  display: flex;
  width: 100%;
  padding: 0.5em  0em 1em 1em;
}
.taskMenuButton {
  width: 100%;
  align-self: center;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1.3em;
  font-weight: 500;
  font-family: inherit;
  background-color: #304674;
  cursor: pointer;
  transition: border-color 0.25s;
}
.taskMenuAbortButton {
  width: 100%;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1.3em;
  font-weight: 500;
  font-family: inherit;
  background-color: #595959;
  cursor: pointer;
  transition: border-color 0.25s;
}
.deleteSubTaskButton {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5em;
}
.deleteSubTaskButton:hover {
  opacity: 0.8;
}
.taskMenuButton:hover {
  opacity: 0.8;
}
/* Shared styles for form elements */
textarea, 
input, 
select {
  width: 100%; /* Make them take up full width by default */
  background-color: #595959; /* Shared background color */
  box-sizing: border-box; /* Include padding and border in width */
  padding: 0.5em; /* Add some padding for better appearance */
  border: 1px solid #444; /* Optional: subtle border for clarity */
  border-radius: 4px; /* Optional: rounded corners */
  color: #fff; /* Optional: text color for contrast */
  font-size: 1em; /* Ensure consistent font size */
  line-height: 1.2;
}
textarea{
  height: 2.4em;
  resize: vertical;
}

.deleteButton {
  background-color: red;
}
