.filter-options {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px; /* Add spacing between buttons */
}

.filter-options button {
  height: 3em;
  display: flex;
  flex-grow: unset;
  align-items: center;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #304674;
  cursor: pointer;
  transition: all 0.3s ease; /* Ensure items start from the same position */
  padding: 10px; /* Offsets the content to the right */
}
.filter-options .icon {
  min-width: 15%;
  color: #cdcccc;
  align-self: center;
}
.filter-options button:hover {
  opacity: 0.8;
}
.logout {
  position: sticky;
  bottom: 0px;
}
