.filter-options {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Add spacing between buttons */
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 20px;
  height: 100%;
  width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  overflow: auto; /* Ermöglicht Scrollen */
}
.search-bar {
  top: 60px;
  left: 0;
  width: 100%;
  background: transparent;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  z-index: 10;
}
/* Menü-Overlay */
.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  color: white;
  padding: 1px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 20;
}
.search-bar input {
  width: 100%;
  padding: 10px;
  color:black;
  font-size: 17px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}
.filter-options button {
  height: 3em;
  display: flex;
  flex-grow: unset;
  align-items: center;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #304674;
  cursor: pointer;
  transition: all 0.3s ease; /* Ensure items start from the same position */
  padding: 10px; /* Offsets the content to the right */
}
.filter-options .icon {
  min-width: 15%;
  color: #cdcccc;
  align-self: center;
}
.filter-options button:hover {
  opacity: 0.8;
}
.logout {
  position: sticky;
  bottom: 0px;
}
