/* Hintergrund über gesamten screen */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* schwarz, 0,5 alpha */
  display: flex;
  z-index: 1001; /* über dem rest*/
  align-items: center;
}

/* hintergrund clickbar
  */
.overlay-backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
}
/* content container */
.overlay-content {
  position: fixed;
  background: #fff; /* weißer background */
  border-radius: 8px;
  top: 10%;
  right: 10%;
  padding: 20px;
  height: 80%;
  width: 80%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  overflow: auto; /* Ermöglicht Scrollen */
}

/* Close button */
.overlay-close {
  content: "";
  display: flex;
  justify-content: center;
  align-items: center; /* Ensures centering */
  position: absolute; /* Position relative to .overlay-content */
  width: 5em; /* Size of the button */
  height: 5em; /* Match height to width for a perfect circle */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7); /* Subtle shadow for depth */
  border-radius: 50%; /* Circular container */
  cursor: pointer;
  background-color: #304674; /* Button color */
  top: 10px; /* Position the close button within the container */
  right: 10px; /* Position the close button within the container */
}

.overlay-close:hover {
  opacity: 0.8;
}
.x::before,
.x::after {
  content: ""; /* Empty content */
  position: absolute; /* Positioned relative to the button */
  width: 0.8em;
  height: 4em;
  border-radius: 8px;
  background-color: white;
  top: 50%; /* Center it vertically */
  left: 50%; /* Center it horizontally */
  transform-origin: center;
  transform: translate(-50%, -50%) rotate(45deg); /* First diagonal */
}
.x::after {
  transform: translate(-50%, -50%) rotate(-45deg); /* Opposite diagonal */
}

/*scrollbar design*/
/* Scrollbar-Styling für Webkit-Browser (Chrome, Edge, Safari) */

.overlay-content::-webkit-scrollbar {
  width: 16px; /* Breite der Scroll-Leiste */
}

.overlay-content::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1); /* Dunkler Daumen */
  border-radius: 8px; /* Runde Ecken */
}

.overlay-content::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.7); /* Etwas heller bei Hover */
}

.overlay-content::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1); /* Leicht grauer Hintergrund */
  border-radius: 8px; /* Runde Ecken */
}
