/* Hintergrund über gesamten screen */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* schwarz, 0,5 alpha */
  display: flex;
  z-index: 1001; /* über dem rest*/
  align-items: center;
}

/* hintergrund clickbar
  */
.overlay-backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
}
/* content container */
.overlay-content {
  position: fixed;
  background: #fff; /* weißer background */
  border-radius: 8px;
  top: 10%;
  right: 10%;
  padding: 20px;
  max-height: 80%;
  width: 80%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  overflow: auto; /* Ermöglicht Scrollen */
}

/* Close button */
.overlay-close {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10%;
  right: 10%;
  border: 10px solid;
  width: 2em;
  height: 2em;
  border-radius: 50%; /* round border*/
  cursor: pointer;
  font-size: 1.5em; /*circle size*/
}
.overlay-close span {
  font-size: 4em; /* Symbolgröße */
  line-height: 0; /* Verhindert unnötigen vertikalen Platz */
}

/*scrollbar design*/
/* Scrollbar-Styling für Webkit-Browser (Chrome, Edge, Safari) */
.overlay-content {
  overflow: auto; /* Ermöglicht Scrollen */
}

.overlay-content::-webkit-scrollbar {
  width: 8px; /* Breite der Scroll-Leiste */
}

.overlay-content::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5); /* Dunkler Daumen */
  border-radius: 4px; /* Runde Ecken */
}

.overlay-content::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.7); /* Etwas heller bei Hover */
}

.overlay-content::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1); /* Leicht grauer Hintergrund */
  border-radius: 4px; /* Runde Ecken */
}

/* Für Firefox (über CSS-Variablen) */
.overlay-content {
  scrollbar-color: rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.1); /* Daumen | Hintergrund */
  scrollbar-width: thin; /* Dünnere Leiste */
}
