.swap-header {
  display: flex;
  gap: 7px;
  width: 100%;
  padding: 10px 20px;
  flex-direction: row;
  border-radius: 10px;
  background-color: #304674;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: sticky;
  z-index: 10;
  box-sizing: border-box; /* Padding und Border in der Größe berücksichtigen */
}
.child-container {
  background-color: #bdbdbd;
}
.child-container {
  display: contents;
}
.child-container .app_header,
.child-container .app_header {
  padding: 0px;
  box-shadow: none;
  margin: 0px;
}

/* Badge(hochgestellte kleine zahl für mein icon)*/
.icon-container {
  position: relative;
  display: inline-block;
}

.icon-container .icon {
  font-size: 24px; /* Größe des Icons */
  color: #c0bfbf; /* Farbe des Icons */
}

.icon-container .badge {
  position: absolute;
  top: -5px; /* Position über dem Icon */
  right: -10px; /* Position rechts vom Icon */
  background-color: rgba(
    175,
    175,
    175,
    0.363
  ); /* Hintergrundfarbe des Badges */
  color: rgb(199, 0, 0); /* Textfarbe */
  font-size: 12px; /* Schriftgröße des Badges */
  font-weight: bold;
  padding: 2px 2px; /* Innenabstand */
  border-radius: 50%; /* Rundes Badge */
  line-height: 1; /* Textausrichtung */
  min-width: 18px; /* Mindestgröße */
  text-align: center; /* Zentrierter Text */
}
