.swap-header {
  display: flex;
  gap: 7px;
  width: 100%;
  padding: 10px 20px;
  flex-direction: row;
  border-radius: 10px;
  background-color: #304674;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: sticky;
  z-index: 10;
  box-sizing: border-box; /* Padding und Border in der Größe berücksichtigen */
}
.child-container {
  background-color: #bdbdbd;
}
.child-container {
  display: contents;
}
.child-container .app_header,
.child-container .app_header {
  padding: 0px;
  box-shadow: none;
  margin: 0px;
}
